{% extends "layout.html" %}
{% block title %}Admin Login{% endblock %}
{% block content %}
<div class="card login-card">
    <header class="card-header">
        <h1>ผู้ดูแลระบบ</h1>
    </header>
    <div class="card-body">
        <form action="{{ url_for('login') }}" method="post" class="search-form">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required value="RPCA70-Admin">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
        </form>
    </div>
    <footer class="card-footer">
        <a href="{{ url_for('index') }}">กลับสู่หน้าหลัก</a>
    </footer>
</div>
{% endblock %}